# NetData Configuration

[global]
    run as user = netdata
    web files owner = root
    web files group = root
# Netdata is not designed to be exposed to potentially hostile
# networks. See https://github.com/netdata/netdata/issues/164
    bind socket to IP = 127.0.0.1
    process scheduling policy = idle
    process scheduling priority = 0
    process nice level = 19
    update every = {{ monitor_netdata_update_every }}
    debug log = none
    error log = none
    access log = none
    page cache size = {{ monitor_netdata_page_cache_size }}
    dbengine disk space = {{ monitor_netdata_dbengine_disk_space }}

[web]
    enable web responses gzip compression = no
    respect do not track policy = yes
    web server threads = {{ monitor_netdata_web_server_threads }}
    web server max sockets = {{ monitor_netdata_web_server_max_sockets }}
