# netdata python.d.plugin configuration
#
# This file is in YaML format.
# Generally the format is:
#
# name: value
#

# Enable / disable the whole python.d.plugin (all its modules)
enabled: yes

# ----------------------------------------------------------------------
# Enable / Disable python.d.plugin modules
#default_run: yes
#
# If "default_run" = "yes" the default for all modules is enabled (yes).
# Setting any of these to "no" will disable it.
#
# If "default_run" = "no" the default for all modules is disabled (no).
# Setting any of these to "yes" will enable it.

# Enable / Disable explicit garbage collection (full collection run). Default is enabled.
gc_run: yes

# Garbage collection interval in seconds. Default is 300.
gc_interval: 300

# apache: yes

# apache_cache has been replaced by web_log
# adaptec_raid: yes
# am2320: yes
apache_cache: no
# beanstalk: yes
# bind_rndc: yes
# boinc: yes
# ceph: yes
chrony: {{ chrony_exists | ternary('yes', 'no') }}
# couchdb: yes
# dns_query_time: yes
# dnsdist: yes
dockerd: {{ dockerd_exists | ternary('yes', 'no') }}
dovecot: {{ dovecot_exists | ternary('yes', 'no') }}
# elasticsearch: yes
# energid: yes

# this is just an example
example: no

exim: {{ exim_exists | ternary('yes', 'no') }}
fail2ban: {{ fail2ban_exists | ternary('yes', 'no') }}
freeradius: {{ freeradius_exists | ternary('yes', 'no') }}
gearman: {{ gearman_exists | ternary('yes', 'no') }}
go_expvar: no

# gunicorn_log has been replaced by web_log
gunicorn_log: no
haproxy: {{ haproxy_exists | ternary('yes', 'no') }}
# hddtemp: yes
# httpcheck: yes
hpssa: no
icecast: {{ icecast_exists | ternary('yes', 'no') }}
# ipfs: yes
# isc_dhcpd: yes
# litespeed: yes
logind: no
# megacli: yes
# memcached: yes
# mongodb: yes
# monit: yes
mysql: {{ mysql_exists | ternary('yes', 'no') }}
nginx: {{ nginx_exists | ternary('yes', 'no') }}
# nginx_plus: yes
# nvidia_smi: yes

# nginx_log has been replaced by web_log
nginx_log: no
# nsd: yes
ntpd: {{ ntpd_exists | ternary('yes', 'no') }}
# openldap: yes
# oracledb: yes
# ovpn_status_log: yes
# phpfpm: yes
# portcheck: yes
postfix: {{ postfix_exists | ternary('yes', 'no') }}
postgres: {{ pgsql_exists | ternary('yes', 'no') }}
# powerdns: yes
# proxysql: yes
# puppet: yes
rabbitmq: {{ rabbitmq_exists | ternary('yes', 'no') }}
redis: {{ redis_exists | ternary('yes', 'no') }}
# rethinkdbs: yes
# retroshare: yes
# riakkv: yes
samba: {{ samba_exists | ternary('yes', 'no') }}
# sensors: yes
# smartd_log: yes
# spigotmc: yes
# springboot: yes
squid: {{ squid_exists | ternary('yes', 'no') }}
# traefik: yes
# tomcat: yes
# tor: yes
# uwsgi: yes
# varnish: yes
# w1sensor: yes
web_log: yes