{% if inventory_hostname in groups["internal_machines"] %}
Acquire::http {
        Proxy "http://{{ galaxie.apt_cacher_ng.server.internal }}:{{ galaxie.apt_cacher_ng.port }}";
        };
{% endif %}
{% if inventory_hostname in groups["external_machines"] %}
Acquire::http {
        Proxy "http://{{ galaxie.apt_cacher_ng.server.external }}:{{ galaxie.apt_cacher_ng.port }}";
        };
{% endif %}
Acquire::http::Proxy {
        download.oracle.com DIRECT;
        };
Acquire::http::Proxy {
        download.opensuse.org DIRECT;
        };
Acquire::http::Proxy {peu
        obs.kolabsys.com DIRECT;
        };