layout_python3

export PROJECT_DIR="${PWD}"

DIRENV_PYTHON_LAYOUT="$(python --version | tr '[:upper:]' '[:lower:]' | tr -d ' ' | cut -d '.' -f1,2)"

export ANSIBLE_STRATEGY_PLUGINS=".direnv/python/lib/${DIRENV_PYTHON_LAYOUT}/site-packages/ansible_mitogen/plugins/strategy"
export ANSIBLE_STRATEGY="mitogen_linear"
