layout_python3

export PROJECT_DIR="${PWD}"

export ANSIBLE_STRATEGY_PLUGINS="$(find .direnv/ -type d | grep mitogen | grep plugins | grep strategy | grep -v pycache)"
export ANSIBLE_STRATEGY="mitogen_linear"
