layout_python3

export PROJECT_DIR="${PWD}"
export DIRENV_CONTENT_DIR="${PWD}/.direnv"

export ANSIBLE_STRATEGY_PLUGINS="${PWD}/$(find .direnv/ -type d | grep mitogen | grep plugins | grep strategy | grep -v pycache)"
export ANSIBLE_INVENTORY="${PWD}/hosts"
export ANSIBLE_STRATEGY="mitogen_linear"
#export ANSIBLE_STRATEGY="linear"

export PATH="${PATH}:${PWD}/playbooks"
# only useful when using some molecule scenarios
export AWS_PROFILE=clan-caretaker
export ANSIBLE_LIBRARY="${PROJECT_DIR}/plugins/modules:${ANSIBLE_LIBRARY}"
if [ -e "${PROJECT_DIR}/ssh.cfg" ]; then
    export ANSIBLE_SSH_ARGS="-F ${PROJECT_DIR}/ssh.cfg"
fi

if [ -e "${PROJECT_DIR}/.env.scw" ]; then
    source ${PROJECT_DIR}/.env.scw
fi

if [ -e "${PROJECT_DIR}/.env.gandi" ]; then
    source ${PROJECT_DIR}/.env.gandi
fi

if [ -e "${PROJECT_DIR}/.env.galaxy" ]; then
    source ${PROJECT_DIR}/.env.galaxy
fi

if [ -e "${PROJECT_DIR}/.vault_password_file" ]; then
    export ANSIBLE_VAULT_PASSWORD_FILE="${PROJECT_DIR}/.vault_password_file"
fi

if [ ! -e "${PROJECT_DIR}/.direnv/bin/k3s" ]; then
    mkdir -p "${DIRENV_CONTENT_DIR}/bin"
    curl -qL "https://github.com/k3s-io/k3s/releases/download/v1.19.7%2Bk3s1/k3s" -o "${DIRENV_CONTENT_DIR}/bin/k3s"
    chmod 700 ${DIRENV_CONTENT_DIR}/bin/k3s
fi
export K3S_KUBECONFIG_OUTPUT="${DIRENV_CONTENT_DIR}/kubeconfig.yml"
export KUBECONFIG="${K3S_KUBECONFIG_OUTPUT}"
export PATH="${DIRENV_CONTENT_DIR}/bin:${PATH}"