Acquire::http {
        Proxy "http://{{ galaxie_apt_cacher_ng_server_self }}:{{ galaxie_apt_cacher_ng_port }}";
        };
Acquire::http::Proxy {
        download.oracle.com DIRECT;
        };
{% if inventory_hostname in groups["jellyfin"] %}
Acquire::https::Proxy {
        repo.jellyfin.org DIRECT;
        };
{% endif %}
{% if inventory_hostname in groups["tor_relay"] %}
Acquire::https::Proxy {
        deb.torproject.org DIRECT;
        };
{% endif %}