server {
    listen 80;
	listen [::]:80;
    server_name {{ matrix_server_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ matrix_server_name }};

    ssl on;
    ssl_certificate /etc/ssl/private/{{ matrix_server_name }}.fullchain.crt;
    ssl_certificate_key /etc/ssl/private/{{ matrix_server_name }}.key;

    location /_matrix/identity {
        proxy_pass http://localhost:8090/_matrix/identity;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    location / {
        proxy_pass http://localhost:8008;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}

server {
    listen 8448 ssl default_server;
    listen [::]:8448 ssl default_server;
    server_name {{ matrix_server_name }};

    ssl on;
    ssl_certificate /etc/ssl/private/{{ matrix_server_name }}.fullchain.crt;
    ssl_certificate_key /etc/ssl/private/{{ matrix_server_name }}.key;
    location / {
        proxy_pass http://localhost:8008;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}

server {
    listen 80;
	listen [::]:80;
    server_name {{ matrix_dimension_server_name }};
    return 301 https://$host$request_uri;
}


server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ matrix_dimension_server_name }};

    ssl on;
    ssl_certificate /etc/ssl/private/{{ matrix_server_name }}.fullchain.crt;
    ssl_certificate_key /etc/ssl/private/{{ matrix_server_name }}.key;

    location / {
        proxy_pass http://localhost:8184;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}
