server {
    listen 80;
	listen [::]:80;
    server_name {{ riot_server_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ riot_server_name }};

    ssl on;
    ssl_certificate /etc/ssl/private/{{ matrix_server_name }}.fullchain.crt;
    ssl_certificate_key /etc/ssl/private/{{ matrix_server_name }}.key;

    root /var/www/riot-v1.5.12;

    location / {
        try_files $uri $uri/ =404;
    }
}
