[Unit]
Description=Matrix Sydent Identity Server
After=network.target auditd.service

[Service]
ExecStart=python3 -m sydent.sydent
WorkingDirectory=/usr/local/sydent
PIDFile=/var/run/sydent.pid
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=matrix-sydent.service
