if $programname startswith '{{ glx_sqmail_service_delivery.identifier }}' then /var/log/mail.{{ glx_sqmail_service_delivery.name }}
if $programname startswith '{{ glx_sqmail_service_smtp.identifier }}' then /var/log/mail.{{ glx_sqmail_service_smtp.name }}
if $programname startswith '{{ glx_sqmail_service_smtps.identifier }}' then /var/log/mail.{{ glx_sqmail_service_smtps.name }}
if $programname startswith '{{ glx_sqmail_service_submission.identifier }}' then /var/log/mail.{{ glx_sqmail_service_submission.name }}
if $programname startswith '{{ glx_sqmail_service_qmtp.identifier }}' then /var/log/mail.{{ glx_sqmail_service_qmtp.name }}
if $programname startswith '{{ glx_sqmail_service_qmtps.identifier }}' then /var/log/mail.{{ glx_sqmail_service_qmtps.name }}
if $programname startswith '{{ glx_sqmail_service_qmqp.identifier }}' then /var/log/mail.{{ glx_sqmail_service_qmqp.name }}
if $programname startswith '{{ glx_sqmail_service_pop3.identifier }}' then /var/log/mail.{{ glx_sqmail_service_pop3.name }}
if $programname startswith '{{ glx_sqmail_service_pop3s.identifier }}' then /var/log/mail.{{ glx_sqmail_service_pop3s.name }}