{% if banner_figlet_result.stdout %}
{{ banner_figlet_result.stdout }}
{% endif %}
{% if banner_domain %}
Hostname  : {{ ansible_hostname }}.{{ banner_domain }}
{% endif %}
{% if not banner_domain %}
Hostname  : {{ ansible_hostname }}
{% endif %}
{% if ansible_default_ipv4 %}
eth0 IPv4 : {{ ansible_default_ipv4.address }}
{% endif %}
{% if ansible_default_ipv6 %}
eth0 IPv6 : {{ ansible_default_ipv6.address }}
{% endif %}
