{{ config | to_nice_yaml(indent=2) }}
{{ config_default | to_nice_yaml(indent=2) }}
  ###############################################################################
  #
  # From this point, all the following keys can be overridden by the web interface
  # (local-production.json file). If you need to change some values, prefer to
  # use the web interface because the configuration will be automatically
  # reloaded without any need to restart PeerTube.
  #
  # /!\ If you already have a local-production.json file, the modification of the
  # following keys will have no effect /!\.
  #
  ###############################################################################
{{ config_start | to_nice_yaml(indent=2) }}
{{ config_dynamic | to_nice_yaml(indent=2) }}
