[Unit]
Description=s/qmail Delivery Daemon
Documentation=man:qmail-start(8)
After=syslog.target
After=local-fs.target
ConditionFileIsExecutable={{ glx_sqmail_dir }}/bin/qmail-start

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
StandardError=inherit
SyslogFacility=mail
SyslogIdentifier={{ glx_sqmail_service_delivery.identifier }}
Environment=PATH={{ glx_sqmail_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart={{ glx_sqmail_dir }}/bin/qmail-start {{ glx_sqmail_control_defaultdelivery }}
ExecReload={{ glx_sqmail_dir }}/bin/qmail-tcpok ; /bin/kill -ALRM ${MAINPID}
