shred
dateext
compress
missingok
notifempty
copytruncate

/var/log/mail.send {
    weekly
    rotate 4
}

/var/log/mail.esmtp {
    weekly
    rotate 4
}

/var/log/mail.esmtps {
    weekly
    rotate 4
}

/var/log/mail.submission {
    weekly
    rotate 4
}

/var/log/mail.qmtp {
    weekly
    rotate 4
}

/var/log/mail.qmtps {
    weekly
    rotate 4
}

/var/log/mail.qmqpd {
    weekly
    rotate 4
}

/var/log/mail.pop3 {
    weekly
    rotate 4
}

/var/log/mail.pop3s {
    weekly
    rotate 4
}
