if $programname startswith 'qmail-send' then /var/log/mail.send
if $programname startswith 'qmail-smtpd' then /var/log/mail.esmtp
if $programname startswith 'qmail-smtpsd' then /var/log/mail.esmtps
if $programname startswith 'qmail-smtpsub' then /var/log/mail.submission
if $programname startswith 'qmail-qmtpd' then /var/log/mail.qmtp
if $programname startswith 'qmail-qmtpsd' then /var/log/mail.qmtps
if $programname startswith 'qmail-qmqpd' then /var/log/mail.qmqpd
if $programname startswith 'qmail-pop3d ' then /var/log/mail.pop3
if $programname startswith 'qmail-pop3sd' then /var/log/mail.pop3s