# {{ ansible_managed }}

<VirtualHost {{ item.VirtualHost }}>
    ServerName {{ item.ServerName }}:{{ gtx_apache_http_port }}
{% for ServerAlias in item.ServerAlias %}
    ServerAlias {{ ServerAlias }}.{{ item.ServerName }}
{% endfor %}
    ServerAdmin {{ item.ServerAdmin }}
    DocumentRoot {{ item.DocumentRoot }}
    ErrorLog ${APACHE_LOG_DIR}/{{ item.ServerName }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.ServerName }}.access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
