# {{ ansible_managed }}

<VirtualHost {{ item.VirtualHost }}>
    ServerName {{ item.ServerName }}:{{ glx_apache_http_port }}
{% for ServerAlias in item.ServerAlias %}
    ServerAlias {{ ServerAlias }}.{{ item.ServerName }}
{% endfor %}
    ServerAdmin {{ item.ServerAdmin }}
    DocumentRoot {{ item.DocumentRoot }}
    ErrorLog ${APACHE_LOG_DIR}/{{ item.ServerName }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.ServerName }}.access.log combined

    # Wordpress content
    Alias /wp/wp-content /var/lib/wordpress/wp-content
    Alias /wp /usr/share/wordpress
    <Directory /usr/share/wordpress>
        Options FollowSymLinks
        AllowOverride Limit Options FileInfo
        DirectoryIndex index.php
        Require all granted
    </Directory>
    <Directory /var/lib/wordpress/wp-content>
        Options FollowSymLinks
        Require all granted
    </Directory>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
