# {{ ansible_managed }}

<VirtualHost {{ item.VirtualHost }}>
    ServerName {{ item.ServerName }}:{{ glx_apache_http_port }}
{% for ServerAlias in item.ServerAlias %}
    ServerAlias {{ ServerAlias }}.{{ item.ServerName }}
{% endfor %}
    ServerAdmin {{ item.ServerAdmin }}
{% if install_wordpress %}
		DocumentRoot {{ glx_wordpress_root_dir }}
{% else %}
		DocumentRoot {{ item.DocumentRoot }}
{% endif %}
    ErrorLog ${APACHE_LOG_DIR}/{{ item.ServerName }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.ServerName }}.access.log combined
{% if install_wordpress %}
    # Wordpress content
    Alias /wp/wp-content {{ glx_wordpress_content_dir }}/{{ item.ServerName }}/{{ glx_wordpress_wp_content_dirname }}
    Alias /wp {{ glx_wordpress_root_dir }}
    <Directory {{ glx_wordpress_root_dir }}>
        Options FollowSymLinks
        AllowOverride Limit Options FileInfo
        DirectoryIndex index.php
        Require all granted
    </Directory>
    <Directory {{ glx_wordpress_content_dir }}/{{ item.ServerName }}/{{ glx_wordpress_wp_content_dirname }}>
        Options FollowSymLinks
        Require all granted
    </Directory>
{% endif %}
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
