<?php
define('DB_NAME', '{{ glx_wordpress_db_name }}');
define('DB_USER', '{{ glx_wordpress_db_user }}');
define('DB_PASSWORD', '{{ glx_wordpress_db_password }}');
define('DB_HOST', 'localhost');
define('WP_CONTENT_DIR', '{{ glx_wordpress_content_dir }}/{{ item.ServerName }}/{{ glx_wordpress_wp_content_dirname }}');
define('FS_METHOD', 'direct' );
?>
