<?php
define('DB_NAME', '{{ glx_wordpress_db_name }}');
define('DB_USER', '{{ glx_wordpress_db_user }}');
define('DB_PASSWORD', '{{ glx_wordpress_db_password }}');
define('DB_HOST', 'localhost');
define('WP_CONTENT_DIR', '/var/lib/wordpress/wp-content');
?>
