

# Here, the location of the s/qmail man pages can be specified.
# If this line is empty (or dir invalid), the default is taken
# from manpath.
# Typical directories -- /usr/local/man, /usr/share/man -- are
# considered automatically; except for OpenBSD.
