cc -O2 -include /usr/include/errno.h -I /usr/local/include  -pipe -Wall

cc -O2 -include /usr/include/errno.h -I /usr/local/include  -pipe -Wall -DSMTPUTF8 -DIDN2

# This will work for both i386 and AMD64 architecture enabling INET6 support.
# It also will enable SMTPUTF8 and IDN2 support. If you miss IDN2, remove this option.

cc -Wall -pipe -z relro -z now -pie -fPIE -fstack-protector-all -D_FORTIFY_SOURCE=2 -O2 -include /usr/include/errno.h -DSMTPUTF8 -DIDN2

# This is for gcc and with strong security in mind.
