23

# This is the queue subdirectory split.

127

# This can ben benefial for a server handling 100k messages/day.

521

# This helps for ~ 500k messages/day.

1223

# You should think about splitting your service.
