# this sets the max, so that we can bump the JVB UDP single port buffer size.
net.core.rmem_default={{ jitsi_meet_sysctl_rmem_max }}
net.core.rmem_max={{ jitsi_meet_sysctl_rmem_max }}
net.core.netdev_max_backlog=100000