[Unit]
Description=Jitsi Meet
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory={{ jitsi_meet_configuration_directory }}

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target