
# using the system default it could stay emtpy; otherwise check for that

-I{{ glx_ucspi_ssl_openssl_include_dir }}/

-I{{ glx_ucspi_ssl_kerberos_include_dir }}

# This will be used to include headers from a different version,
# or if openssl requires additional support, e.g. kerberos support on RedHat Linux.
