[Unit]
Description=s/qmail ESMTP Daemon
Documentation=man:qmail-smtpd(8)
After=syslog.target
After=local-fs.target
ConditionFileIsExecutable={{ glx_sqmail_dir }}/bin/qmail-smtpd

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
StandardError=inherit
SyslogFacility=mail
SyslogIdentifier={{ glx_sqmail_service_smtp.identifier }}
Environment=PATH={{ glx_sqmail_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart={{ glx_sqmail_dir }}/bin/{{ glx_sqmail_service_smtp.script }}
ExecReload={{ glx_sqmail_dir }}/bin/qmail-tcpok ; /bin/kill -ALRM ${MAINPID}
