org.jitsi.videobridge.SINGLE_PORT_HARVESTER_PORT=10000
org.jitsi.videobridge.DISABLE_TCP_HARVESTER=true
org.jitsi.videobridge.TCP_HARVESTER_PORT=4443

{% if jitsi_meet_enable_aws %}
org.ice4j.ice.harvest.FORCE_AWS_HARVESTER=true
org.ice4j.ice.harvest.DISABLE_AWS_HARVESTER=false
{% else %}
org.ice4j.ice.harvest.FORCE_AWS_HARVESTER=false
org.ice4j.ice.harvest.DISABLE_AWS_HARVESTER=true

{%   if jitsi_meet_enable_static_tnat %}
org.ice4j.ice.harvest.NAT_HARVESTER_LOCAL_ADDRESS={{ ansible_default_ipv4.address }}
org.ice4j.ice.harvest.NAT_HARVESTER_PUBLIC_ADDRESS={{ jitsi_meet_public_address }}
{%   else %}
org.ice4j.ice.harvest.STUN_MAPPING_HARVESTER_ADDRESSES=stun.l.google.com:19302,stun1.l.google.com:19302,stun2.l.google.com:19302
{%   endif %}

{% endif %}

org.ice4j.ice.harvest.AbstractUdpHarvester.SO_RCVBUF={{ jitsi_meet_sysctl_rmem_max }}

org.jitsi.videobridge.xmpp.user.shard.HOSTNAME=xmpp.meet.jitsi
org.jitsi.videobridge.xmpp.user.shard.DOMAIN=auth.meet.jitsi
org.jitsi.videobridge.xmpp.user.shard.USERNAME=jvb
org.jitsi.videobridge.xmpp.user.shard.PASSWORD=passw0rd
org.jitsi.videobridge.xmpp.user.shard.MUC_JIDS=jvbbrewery@internal-muc.meet.jitsi
org.jitsi.videobridge.xmpp.user.shard.MUC_NICKNAME=bec99a5907f5
org.jitsi.videobridge.xmpp.user.shard.DISABLE_CERTIFICATE_VERIFICATION=true

org.jitsi.videobridge.ENABLE_STATISTICS=true
org.jitsi.videobridge.STATISTICS_TRANSPORT=muc
org.jitsi.videobridge.STATISTICS_INTERVAL=5000
