version: '2.2'

services:
  # External dependencies
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - "/home/vmail/redis:/data"

  # Core services
  front:
    image: {{ mail_mailu_docker_images.nginx }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    logging:
      driver: json-file
    ports:
      - "127.0.0.1:80:80"
      - "::1:80:80"
      - "127.0.0.1:443:443"
      - "::1:443:443"
      - "127.0.0.1:25:25"
      - "::1:25:25"
      - "127.0.0.1:465:465"
      - "::1:465:465"
      - "127.0.0.1:587:587"
      - "::1:587:587"
      - "127.0.0.1:110:110"
      - "::1:110:110"
      - "127.0.0.1:995:995"
      - "::1:995:995"
      - "127.0.0.1:143:143"
      - "::1:143:143"
      - "127.0.0.1:993:993"
      - "::1:993:993"
    volumes:
      - "/home/vmail/certs:/certs"
      - "/home/vmail/overrides/nginx:/overrides"


  admin:
    image: {{ mail_mailu_docker_images.admin }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    ports:
      - 127.0.0.1:8080:80
    volumes:
      - "/home/vmail/data:/data"
      - "/home/vmail/dkim:/dkim"
    depends_on:
      - redis

  imap:
    image: {{ mail_mailu_docker_images.dovecot }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/mail:/mail"
      - "/home/vmail/overrides:/overrides"
    depends_on:
      - front

  smtp:
    image: {{ mail_mailu_docker_images.postfix }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/overrides:/overrides"
    depends_on:
      - front

  antispam:
    image: {{ mail_mailu_docker_images.rspamd }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/filter:/var/lib/rspamd"
      - "/home/vmail/dkim:/dkim"
      - "/home/vmail/overrides/rspamd:/etc/rspamd/override.d"
    depends_on:
      - front

  # Optional services

  webdav:
    image: {{ mail_mailu_docker_images.radicale }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/dav:/data"

  fetchmail:
    image: {{ mail_mailu_docker_images.fetchmail }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}

  # Webmail
  webmail:
    image: {{ mail_mailu_docker_images.roundcube }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/webmail:/data"
    depends_on:
      - imap

networks:
  default:
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: {{ mail_docker_ipv4_subnet }}
        - subnet: {{ mail_docker_ipv6_subnet }}
