version: '2.2'

services:
  # External dependencies
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - "/home/vmail/redis:/data"

  # Core services
  front:
    image: {{ mail_mailu_docker_images.nginx }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    logging:
      driver: journald
      options:
        tag: "mailu/front"
    ports:
      - "127.0.0.1:9080:80"
      - "127.0.0.1:9443:443"
      - "127.0.0.1:25:25"
      - "::1:25:25"
      - "127.0.0.1:465:465"
      - "::1:465:465"
      - "127.0.0.1:587:587"
      - "::1:587:587"
      - "127.0.0.1:110:110"
      - "::1:110:110"
      - "127.0.0.1:995:995"
      - "::1:995:995"
      - "127.0.0.1:143:143"
      - "::1:143:143"
      - "127.0.0.1:993:993"
      - "::1:993:993"
    volumes:
      - "/etc/ssl/private/{{ mail_domain }}.fullchain.crt:/certs/{{ mail_domain }}.fullchain.crt"
      - "/etc/ssl/private/{{ mail_domain }}.key:/certs/{{ mail_domain }}.key"
      - "/home/vmail/overrides/nginx:/overrides"

  admin:
    image: {{ mail_mailu_docker_images.admin }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    ports:
      - 127.0.0.1:8080:80
    volumes:
      - "/home/vmail/data:/data"
      - "/home/vmail/dkim:/dkim"
    depends_on:
      - redis
    logging:
      driver: journald
      options:
        tag: "mailu/admin"

  imap:
    image: {{ mail_mailu_docker_images.dovecot }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/mail:/mail"
      - "/home/vmail/overrides:/overrides"
    depends_on:
      - front
    logging:
      driver: journald
      options:
        tag: "mailu/imap"

  smtp:
    image: {{ mail_mailu_docker_images.postfix }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/overrides:/overrides"
    depends_on:
      - front
    logging:
      driver: journald
      options:
        tag: "mailu/smtp"

  antispam:
    image: {{ mail_mailu_docker_images.rspamd }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/filter:/var/lib/rspamd"
      - "/home/vmail/dkim:/dkim"
      - "/home/vmail/overrides/rspamd:/etc/rspamd/override.d"
    depends_on:
      - front
    logging:
      driver: journald
      options:
        tag: "mailu/antispam"

  # Optional services

  webdav:
    image: {{ mail_mailu_docker_images.radicale }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/dav:/data"
    logging:
      driver: journald
      options:
        tag: "mailu/webdav"

  fetchmail:
    image: {{ mail_mailu_docker_images.fetchmail }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    logging:
      driver: journald
      options:
        tag: "mailu/fetchmail"

  # Webmail
  webmail:
    image: {{ mail_mailu_docker_images.roundcube }}
    restart: always
    env_file: {{ mail_docker_compose_env_file }}
    volumes:
      - "/home/vmail/webmail:/data"
    depends_on:
      - imap
    logging:
      driver: journald
      options:
        tag: "mailu/webmail"

networks:
  default:
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: {{ mail_docker_ipv4_subnet }}
        - subnet: {{ mail_docker_ipv6_subnet }}
