server {
  listen 80;
  listen [::]:80;
  server_name {{ mail_domain }};

  location / {
    proxy_pass https://localhost:9080;
  }
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{ mail_domain }};

  ssl on;
  ssl_certificate /etc/ssl/private/{{ mail_domain }}.fullchain.crt;
  ssl_certificate_key /etc/ssl/private/{{ mail_domain }}.key;

  location / {
    proxy_pass https://localhost:9443;
    proxy_ssl_verify off;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
}