[Unit]
Description=Mail services
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory={{ mail_configuration_directory }}

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target