[Unit]
Description=s/qmail POP3 Daemon
After=syslog.target
After=local-fs.target
ConditionFileIsExecutable={{ glx_sqmail_dir }}/bin/qmail-pop3d

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
StandardOutput=syslog
StandardError=inherit
SyslogFacility=mail
SyslogIdentifier=qmail-pop3d
Environment=PATH={{ glx_sqmail_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart={{ glx_sqmail_dir }}/bin/run_pop3d
ExecReload=/bin/kill -ALRM ${MAINPID}