[Unit]
Description=s/qmail ESMTPS Daemon
After=syslog.target
After=local-fs.target
ConditionFileIsExecutable={{ glx_sqmail_dir }}/bin/qmail-start

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
StandardOutput=syslog
StandardError=inherit
SyslogFacility=mail
SyslogIdentifier=qmail-smtpsd
Environment=PATH={{ glx_sqmail_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart={{ glx_sqmail_dir }}/bin/run_smtpsd
ExecReload={{ glx_sqmail_dir }}/bin/qmail-tcpto ; /bin/kill -ALRM ${MAINPID}