[Unit]
Description=s/qmail QMQPD Daemon
After=syslog.target
After=local-fs.target
ConditionFileIsExecutable={{ glx_sqmail_dir }}/bin/qmail-qmqpd

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
StandardOutput=syslog
StandardError=inherit
SyslogFacility=mail
SyslogIdentifier=qmail-qmqpd
Environment=PATH={{ glx_sqmail_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart={{ glx_sqmail_dir }}/bin/run_qmqpd
ExecReload=/bin/kill -ALRM ${MAINPID}