#! /bin/bash

# CONFIG
GROUP="media"
WORK_DIR="/home/media"

#Dessins_Animes
DESSINS_ANIMES_DIR="$WORK_DIR/Dessins_Animes"

#Espace
ESPACE_DIR="$WORK_DIR/Espace"

#Films
FILMS_DIR="$WORK_DIR/Films"

#Musique
MUSIQUE_DIR="$WORK_DIR/Musique"

#Photos
PHOTOS_DIR="$WORK_DIR/Photos"

#TV_Series
TV_SERIES_DIR="$WORK_DIR/TV_Series"

#APPS
for DIR in {"$DESSINS_ANIMES_DIR","$ESPACE_DIR","$FILMS_DIR","$MUSIQUE_DIR","$PHOTOS_DIR","$TV_SERIES_DIR"}; do
    if [[ -e $DIR ]]; then
    #Remove Write permission to Others
        chmod -R o-w $DIR
    #Set files to 664 and directory to 775
        chmod -R u+rwX,g+rwX,o+rX $DIR
    #Set files and dir to the group $GROUP
        chgrp -hR $GROUP $DIR
    fi
done